<div class="container mt-5 mb-5">

    <h1 class="text-center">About Us</h1>

    <p>

    <h2>  Online Food Order App  - Your Ultimate Food Companion! </h2>
    <h3>Our Story:</h3>
At  Online Food Order, our journey began with a passion for connecting food lovers with their favorite cuisines effortlessly. Founded by a group of food enthusiasts, we envisioned a platform that simplifies the way people explore, order, and enjoy delicious meals.
<br><br>
   
  
<h4>Our Mission:</h4>
We are dedicated to revolutionizing the food ordering experience, providing a seamless platform that caters to diverse tastes while prioritizing convenience, quality, and customer satisfaction.



</div>